#toprow {
	height:500px;
	width:100%;
	float:left;
}

#left {
	width: 500px;
    height: 500px;
    padding-left: 96px;
	float:left;
}

#bchart1 div {
	float:left;
}

#bchart1 {
	width: 500px;
    float: left;
    transform: rotate(180deg) scaleX(-1);
}

#p p {
	float: left;
    padding-right: 76px;
    padding-top: 58px;
    font-size: 20px;
}

#p {
	width: 421px;
    height: 100px;
    padding-left: 40px;
}


#image img {
	width: 318px;
    height: 200px;
	padding-left: 47px;
	padding-top:66px;
	
}

#image {
	width:auto;
	height:auto;
}


#bchart4 div {
	float:left;
}

#bchart4 {
	width: 500px;
    float: left;
    transform: rotate(180deg) scaleX(-1);
}

#p4 p {
	float: left;
    padding-right: 76px;
    padding-top: 58px;
    font-size: 20px;
}

#p4 {

	width: 421px;
    height: 100px;
    padding-left: 40px;

}


#image4 img {
	width: 318px;
    height: 200px;
	padding-left: 47px;
	padding-top:66px;
	
}

#image4 {
	width:auto;
	height:auto;
}


#bchart3 div {
	float:left;
}

#bchart3 {
	width: 500px;
    float: left;
    transform: rotate(180deg) scaleX(-1);
}

#p3 p {
	float: left;
    padding-right: 76px;
    padding-top: 58px;
    font-size: 20px;
}

#p3 {

	width: 421px;
    height: 100px;
    padding-left: 40px;

}


#image3 img {
	width: 318px;
    height: 200px;
	padding-left: 47px;
	padding-top:66px;
	
}

#image3 {
	width:auto;
	height:auto;
}



#right {
	width: 500px;
    height: 500px;
    padding-left: 96px;
	float:right;	
}

#bchart2 div {
	float:left;
}

#bchart2 {
	width: 500px;
    float: right;
    transform: rotate(180deg) scaleX(-1);
}

#p2 p {
	float: left;
    padding-right: 76px;
    padding-top: 58px;
    font-size: 20px;
}

#p2 {

	width: 421px;
    height: 100px;
    padding-left: 40px;

}

#image2 img {

	width: 318px;
    height: 200px;
	padding-left: 47px;
	padding-top:66px;
	
}

#image2 {
	width:auto;
	height:auto;
}

#placementno { 

	font-size: 60px;
	margin-left: 45%;
    margin-right: auto;
    width: 8em;

}

#carbody img {
	margin-left:42%;
	padding-top:30px;
	height:600px;
	width:300px;
}

#title p {
	
	margin-left:47%;
	font-size:30px;

}

#middle {
	width:100%;
	height:40%;
	margin-top:30%;
	margin-bottom:10px;
	
}

#carbody, #title {

	width:100%;
	height:auto;

}

#bottom { 

		height:500px;
		width:100%;
		float:left;

}

#A4Page {

    width: 30%;
    height: 112em;
    max-width: 1920px;
    min-width: 1700px;
    margin-left: 1%;
	margin-top: 50px;
	padding-top:50px;
	padding-left: 71px;
	padding-right:71px;
	
}

